{% extends 'products/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static  '/vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Page Content -->
    <section>
        <!--    <div class="alert alert-light text-center" role="alert">-->
        <!--        Information message -->
        <!--    </div>-->
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="mt-5">LeModa</h1>
                    <p class="">
                        New images and the best brands on the LeModa.
                        Free shipping within Ukraine!
                    </p>
                    <button id="start-purchase-btn" type="button" class="btn btn-lg">
                        <a id="start-purchase-link" href="{% url 'products:index' %}">
                            Start shopping
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
